body {
  font-family: 'Montserrat', sans-serif;
  margin: 0; }

a {
  font-weight: 800;
  color: #000;
  text-decoration: none;
  -webkit-transition: 70ms all ease-in-out;
  -o-transition: 70ms all ease-in-out;
  transition: 70ms all ease-in-out; }
  a:hover {
    color: #555555; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

nav#sitenav {
  background: #fff;
  height: 50px; }
  nav#sitenav img {
    width: 50px; }
