=tran
     transition: 70ms all ease-in-out

$color: #00B519
$scolor: #619cff
$tcolor: #ee4848

@import "modules/vars"

body
     font-family: 'Montserrat', sans-serif
     margin: 0
     overflow: hidden

a
     font-weight: 600
     color: #000
     text-decoration: none
     +tran
     &:hover
          color: #555555

.btn
     padding: 5px 8px
     border: 1px solid #000
     border-radius: 3px
     display: block
     text-align: center
     font-weight: 500
     background: #fff
     +tran
     &:hover
          cursor: pointer
          border-color: var(--color)
          color: #000
          background: #f9f9f9

.btn-follow
     background: var(--color)
     color: #fff
     border-color: var(--bordercolor)
     &:hover
          color: #fff
          background: var(--color-dark)

.btn-stop-follow
     background: var(--tcolor)
     color: #fff
     border-color: var(--bordercolor)
     &:hover
          border-color: var(--tcolor)
          color: #fff
          background: var(--tcolor-dark)

.btn-send-message
     background: #fff
     color: #000
     border-color: var(--scolor)
     &:hover
          color: var(--scolor)
          background: #fff
          border-color: var(--scolor)

.container
     max-width: 1200px
     margin: 0 auto
     box-sizing: border-box
     padding: 0 10px

#main-container
     height: calc(100vh - 50px)
     background: #f0f0f0
     overflow: scroll

#main-container > .container
     max-width: 1200px
     margin: 0 auto

@import "modules/nav"
@import "modules/timeline"
@import "modules/profile"
