nav#sitenav-not
     .container
          a(href="") Primus Connection
          form(action="" method="")
               input(type="text" name="user-input" placeholder="Username lub adres email")
               input(type="password" name="password" placeholder="Hasło")
               button(type="submit" name="loginbtn") Zaloguj się
          
          ul
               li
                    a(href="") Zaloguj się
               li
                    a(href="").btn.btn-follow Zarejestruj się
