nav#sitenav.desktop.top
     #searchbox
          .container
               .form
                    input(type="text" placeholder="Szukaj..." id="searchboxfield")
                    button(type="submit" name="search" id="searchbtn"): i.fa.fa-search
               button#searchboxclose: i.fa.fa-close
          #searchresults
               a.btn(href="") Pokaż wyniki na oddzielnej stronie
               .grid
                    - for (var i = 0; i<=10; i++)
                         .user
                              img(src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/18274810_450468415293985_5791790352588547985_n.jpg?oh=5d0595f948104bbc5f8adcd2015ffcfb&oe=5AA990E3")
                              .about
                                   h2.name Jakub Milcarz
                                   .info
                                        a.btn.btn-follow(href="")
                                             | Odwiedź profil
                                        a.btn.btn-send-message(href="")
                                             i.fa.fa-comment
                                             | Wyślij wiadomość

     .container#undersearchbox
          ul.links
               li.first
                    a(href="") Timeline
               li
                    a(href="") Profil
               li.last
                    a(href="") Wiadomosci
          a.logo(href="")
               h1 Primus Connection
               
          ul.links
               li.first
                    a(href=""): i.fa.fa-feed
               li
                    a(href=""): i.fa.fa-bell
               li#tooglesearchbox
                    i.fa.fa-search
               li.last#toogleUserNavDropdown
                    i.fa.fa-user
                    ul#nav-dropdown-user
                         li.about
                              h1 Jakub Milcarz
                              h2 @jmilcarz
                         li
                              a(href="")
                                   i.fa.fa-user-circle
                                   | Profil
                         li
                              a(href="")
                                   i.fa.fa-bolt
                                   | Timeline
                         li
                              a(href="")
                                   i.fa.fa-bullhorn
                                   | Obserwowani
                         li
                              a(href="")
                                   i.fa.fa-star
                                   | Popularne w tej chwili
                         li.hr
                         li
                              a(href="")
                                   i.fa.fa-question-circle
                                   | Centrum Pomocy
                         li
                              a(href="")
                                   i.fa.fa-cogs
                                   | Ustawienia i Prywatność
                         li
                              form(action="" method="")
                                   button(type="submit" name="logoutbtn")
                                        i.fa.fa-sign-out
                                        | Wyloguj się
                         li.hr
                         li.tooglemodes
                              a#toogleDarkThemeDesktop
                                   i.fa.fa-lightbulb-o
                                   | Dark Theme

nav#sitenav.mobile.top
     #searchbox-mobile
          .container
               .form
                    input(type="text" placeholder="Szukaj...")
                    button(type="submit" name="search"): i.fa.fa-search
               button#searchboxclose-mobile: i.fa.fa-close
          #searchresults-mobile
               a.btn(href="") Pokaż wyniki na oddzielnej stronie
               .grid
                    - for (var i = 0; i<=10; i++)
                         .user
                              img(src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/18274810_450468415293985_5791790352588547985_n.jpg?oh=5d0595f948104bbc5f8adcd2015ffcfb&oe=5AA990E3")
                              .about
                                   h2.name Jakub Milcarz
                                   .info
                                        a.btn.btn-follow(href="")
                                             | Odwiedź profil
                                        a.btn.btn-send-message(href="")
                                             i.fa.fa-comment
                                             | Wyślij wiadomość
                                   
     .container#undersearchbox-mobile
          button#toogleLeftSideNav
               img(src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/18274810_450468415293985_5791790352588547985_n.jpg?oh=5d0595f948104bbc5f8adcd2015ffcfb&oe=5AA990E3")
          
          .logo
               h1 Primus Connection
          
          button#toogleMobileNewPost: i.fa.fa-leaf

     #mobileNewPostModal
          header
               a(href=""): img(src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/18274810_450468415293985_5791790352588547985_n.jpg?oh=5d0595f948104bbc5f8adcd2015ffcfb&oe=5AA990E3")
               h1 Nowy Post
               button#closeMobileNewPost
                    | anuluj
                    i.fa.fa-close
          
          form(action="" method="post")
               textarea#newpostPostBody(name="postbody" placeholder="Napisz coś...")
               input#newpostPostImg(type="file" name="postimg")
               img(src="" id="newpostDesktopImg")
               button#newpostPostSubmitBtn(type="submit", name="sendpost").btn
                    i.fa.fa-bolt
                    | wyślij

nav#sitenav.mobile.bottom
     .container
          a(href=""): i.fa.fa-feed
          a#tooglesearchbox-mobile: i.fa.fa-search
          a(href=""): i.fa.fa-bell
          a(href=""): i.fa.fa-comments
          

nav#sitenav.mobile.left
     .container
          header
               a(href=""): img(src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/18274810_450468415293985_5791790352588547985_n.jpg?oh=5d0595f948104bbc5f8adcd2015ffcfb&oe=5AA990E3")
               button#closeMobileLeftNav: i.fa.fa-close
          
          .info 
               h1 Jakub Milcarz
               h2 @jmilcarz
          
          ul.links
               li
                    a(href="")
                         i.fa.fa-feed
                         | Timeline
               li
                    a(href="")
                         i.fa.fa-user-circle-o
                         | Profil
               li
                    a#tooglesearchbox-mobile2
                         i.fa.fa-search
                         | Szukaj
               li
                    a(href="")
                         i.fa.fa-bolt
                         | Popularne
          
          ul.links
               li
                    a(href="")
                         i.fa.fa-cogs
                         | Ustawienia i Prywatność
               li
                    a(href="")
                         i.fa.fa-question-circle
                         | Centrum Pomocy
               li
                    a(href="")
                         i.fa.fa-sign-out
                         | Wyloguj się
               
          .form
               button#toogleDarkTheme: i.fa.fa-lightbulb-o
