.profile-big-banner
     img.background(src="http://r.ddmcdn.com/s_f/o_1/DSC/uploads/2015/05/where-are-they-now-new-bear-grylls.jpg")
     .overlay
     .info
          img.profile-img(src="https://i.ytimg.com/vi/zxQU55pItxU/maxresdefault.jpg")
          h1.name Kuba Milcarz
          
.grid#profile
     .about.column
          //- .info
          //-      header
          //-           img.grat-bg(src="http://r.ddmcdn.com/s_f/o_1/DSC/uploads/2015/05/where-are-they-now-new-bear-grylls.jpg")
          //-           img.profile-img(src="https://i.ytimg.com/vi/zxQU55pItxU/maxresdefault.jpg")
          //-      .box
          //-           h1 Bear Grylls
          //-           h2 @grylls
          //-           button.btn#toogleMobileInfoUserModal informacje
                    
          .stuff
               h1.more-space Informacje
               ul
                    li
                         i.fa.fa-envelope-o
                         | j.milcarz@yahoo.com
                    li
                         i.fa.fa-phone-square
                         | +48 509 512 090
                    li
                         i.fa.fa-male
                         | mężczyzna
                    li
                         i.fa.fa-birthday-cake
                         | 17.06.2002
                    li
                         i.fa.fa-connectdevelop
                         | 1435
                         
          .stuff-mobile-modal#mobileProfileInfoModal
               header
                    h1 Informacje
                    button#closeMobileProfileInfoMobile
                         | zamknij
                         i.fa.fa-close
               
               ul.content
                    li
                         i.fa.fa-envelope-o
                         | j.milcarz@yahoo.com
                    li
                         i.fa.fa-phone-square
                         | +48 509 512 090
                    li
                         i.fa.fa-male
                         | mężczyzna
                    li
                         i.fa.fa-birthday-cake
                         | 17.06.2002
                    li
                         i.fa.fa-connectdevelop
                         | 1435
                         
     .post.column
          header
               button#newPostModalDesktop
                    | Napisz coś ciekawego...
               .modal#newpostmodalddesktop.new-post
                    header
                         h1 Nowy Post
                         button#closeNewPostModalDesktop
                              | anuluj
                              i.fa.fa-close
                    .form
                         textarea#newpostPostBody(name="postbody" placeholder="Napisz coś...")
                         input#newpostPostImg(type="file" name="postimg")
                         img(src="" id="newpostDesktopImg")
                         button#newpostPostSubmitBtn(type="submit", name="sendpost")
                              i.fa.fa-leaf
                              | Wyślij
          
          .posts#timelinePosts
               - for (var i = 0; i<=15; i++)
                    .post
                         header.post__header
                              img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRDuv0qtOl3RiTcLeIZx-kHxDz7IgpxT07Pnf6AohxAmKKaOqGGw").post_header__img
                              .post_header__user_info
                                   h1.post_header__name
                                        | Kuba Milcarz
                                        span.username @jmilcarz
                                   p.post_header_date 
                                        i.fa.fa-clock-o
                                        | 21.12.2018

                         div.post__content
                              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, ducimus suscipit eaque laboriosam dicta cum dolores aperiam voluptatem cupiditate, ut accusamus in exercitationem ad sit eius odit. Ipsum, praesentium sit.

                         div.post__integration
                              button.post_btn
                                   i.fa.fa-thumbs-up
                                   span Lubię to! 
                                        span (42)
                         div.post__comments
                              .comments
                                   .comment
                                        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRDuv0qtOl3RiTcLeIZx-kHxDz7IgpxT07Pnf6AohxAmKKaOqGGw")
                                        .content
                                             .body
                                                  p ectetur adipisicing elit. Tempore aut quos, vol eveniet expedita exercitationem minus do sit amet, consectetur!
                                             .info
                                                  button.comment_btn
                                                       i.fa.fa-thumbs-up
                                                       span Lubię to!
                                                            span (2)
                                   .comment
                                        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRDuv0qtOl3RiTcLeIZx-kHxDz7IgpxT07Pnf6AohxAmKKaOqGGw")
                                        .content
                                             .body
                                                  p Lorem ipsum dolor sit amet, consectetur!
                                             .info
                                                  button.comment_btn
                                                       i.fa.fa-thumbs-up
                                                       span Lubię to!
                                                            span (2)
                                   .comment
                                        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRDuv0qtOl3RiTcLeIZx-kHxDz7IgpxT07Pnf6AohxAmKKaOqGGw")
                                        .content
                                             .body
                                                  p Lorem ipsum dolor sit amet, consectetur!
                                             .info
                                                  button.comment_btn
                                                       i.fa.fa-thumbs-up
                                                       span Lubię to!
                                                            span (2)
                                   .comment
                                        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRDuv0qtOl3RiTcLeIZx-kHxDz7IgpxT07Pnf6AohxAmKKaOqGGw")
                                        .content
                                             .body
                                                  p Lorem ipsum dolor sit amet, consectetur!
                                             .info
                                                  button.comment_btn
                                                       i.fa.fa-thumbs-up
                                                       span Lubię to!
                                                            span (2)
                                   .comment
                                        img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRDuv0qtOl3RiTcLeIZx-kHxDz7IgpxT07Pnf6AohxAmKKaOqGGw")
                                        .content
                                             .body
                                                  p Lorem ipsum dolor sit amet, consectetur!
                                             .info
                                                  button.comment_btn
                                                       i.fa.fa-thumbs-up
                                                       span Lubię to!
                                                            span (2)
                              
                              form.post_comments__form
                                   img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRDuv0qtOl3RiTcLeIZx-kHxDz7IgpxT07Pnf6AohxAmKKaOqGGw")
                                   input(type="text" name="commentbody" id="" placeholder="Napisz komentarz...")
                                   button(type="submit" name="send" id=""): i.fa.fa-angle-right
