.grid#search
     .user
          header
               img.grat-bg(src="http://r.ddmcdn.com/s_f/o_1/DSC/uploads/2015/05/where-are-they-now-new-bear-grylls.jpg")
               img.profile-img(src="https://i.ytimg.com/vi/zxQU55pItxU/maxresdefault.jpg")
          .info
               h1 Bear Grylls
               h2 @grylls
          
