.grid#timeline
     .info.column
          .about
               header
                    img.grat-bg(src="http://r.ddmcdn.com/s_f/o_1/DSC/uploads/2015/05/where-are-they-now-new-bear-grylls.jpg")
                    img.profile-img(src="https://i.ytimg.com/vi/zxQU55pItxU/maxresdefault.jpg")
               .box
                    h1 Bear Grylls
                    h2 @grylls
          .you-can-like-it
               h1.more-space Trendy dla Ciebie
               ul
                    li
                         a(href="") #dom
                    li
                         a(href="") #piatek
                    li
                         a(href="") #weekend
                    li
                         a(href="") #wallstreet
                    li
                         a(href="") #uncleben
          
          .you-can-like-it
               h1 Warci obserwowania
               ul
                    li
                         a(href="")
                              .grid
                                   img(src="https://unzippedtv.com/wp-content/uploads/sites/28/2016/01/prac-girl-2.jpg")
                                   .info
                                        h1 Ola Wieszak
                                        h2 @olacia143
                    li
                         a(href="")
                              .grid
                                   img(src="https://media.gettyimages.com/photos/teenager-boy-smiling-outdoors-in-park-picture-id503117826?b=1&k=6&m=503117826&s=612x612&w=0&h=xIc4GiYSG1q80X9il6O_oSULSK3gVaz2nWBn8d7fI5M=")
                                   .info
                                        h1 Wojtek Kopytko
                                        h2 @wojaspytko
                    li
                         a(href="")
                              .grid
                                   img(src="https://i2-prod.mirror.co.uk/incoming/article9863039.ece/ALTERNATES/s615/Polish-girl-found-hanged-in-the-toilets-at-school.jpg")
                                   .info
                                        h1 Eliza Herajok
                                        h2 @elizjok
                    li
                         a(href="")
                              .grid
                                   img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGsSqQs1qtGxjG7kl0pXie254Hd_1Hqu-SJROuB5grygdbhIMJOQ")
                                   .info
                                        h1 Julianna Ogórek
                                        h2 @julaogor
                    li
                         a(href="")
                              .grid
                                   img(src="http://glaadblog.org/wp-content/uploads/2010/06/ben_secretLife.jpg")
                                   .info
                                        h1 Mariusz Błaszczak
                                        h2 @blaszczak
                                        
     .post.column
          header
               button#newPostModalDesktop
                    | Napisz coś ciekawego...
                    i.fa.fa-leaf
               .modal#newpostmodalddesktop.new-post
                    header
                         h1 Nowy Post
                         button#closeNewPostModalDesktop
                              | anuluj
                              i.fa.fa-close
                    .form
                         textarea#newpostPostBody(name="postbody" placeholder="Napisz coś...")
                         input#newpostPostImg(type="file" name="postimg")
                         img(src="" id="newpostDesktopImg")
                         button#newpostPostSubmitBtn(type="submit", name="sendpost")
                              i.fa.fa-leaf
                              | Wyślij
          
          .posts#timelinePosts
               - for (var i = 0; i<=15; i++)
                    .post
                         .row.info
                              img(src="https://i2-prod.mirror.co.uk/incoming/article9863039.ece/ALTERNATES/s615/Polish-girl-found-hanged-in-the-toilets-at-school.jpg")
                              .about
                                   .names
                                        h1 Eliza Wyrzgoń
                                        h2 @elizkagon
                                   .date
                                        p
                                             i.fa.fa-clock-o
                                             | 24.10.2017
                                        
                         .row.content
                              p Lot, delectus doloribus ex! Saepe iure, tempore magnam iusto, blanditiis culpinus odio nesciunt!
                              img(src="http://r.ddmcdn.com/s_f/o_1/DSC/uploads/2015/05/where-are-they-now-new-bear-grylls.jpg")
                         .row.stuff
                              .delete
                                   i.fa.fa-close
                                   | usuń
                              .likes
                                   i.fa.fa-heart
                                   | 7
               
                              .comments
                                   i.fa.fa-comments
                                   | 43
                                        
                              .comments-modal
                                   header
                                        h1.com-title Komentarze
                                        button#commentscloser2
                                             | zamknij
                                             i.fa.fa-close
                                   
                                   .all-comments
                                        .comment
                                             img(src="http://r.ddmcdn.com/s_f/o_1/DSC/uploads/2015/05/where-are-they-now-new-bear-grylls.jpg")
                                             .info
                                                  .names
                                                       h1 Piotr Wyrzgoń
                                                       h2 @elizkagon
                                                  .content
                                                       p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, ears maiores illo autem quibusdam tenetur dicta inventore quaerat!
                                        .comment
                                             img(src="http://r.ddmcdn.com/s_f/o_1/DSC/uploads/2015/05/where-are-they-now-new-bear-grylls.jpg")
                                             .info
                                                  .names
                                                       h1 Eliza Wyrzgoń
                                                       h2 @elizkagon
                                                  .content
                                                       p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, ears maiores illo autem quibusdam tenetur dicta inventore quaerat!
                                        .comment
                                             img(src="http://r.ddmcdn.com/s_f/o_1/DSC/uploads/2015/05/where-are-they-now-new-bear-grylls.jpg")
                                             .info
                                                  .names
                                                       h1 Eliza Wyrzgoń
                                                       h2 @elizkagon
                                                  .content
                                                       p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, ears maiores illo autem quibusdam tenetur dicta inventore quaerat!          
                                                  
