.grid#timeline
     .info.column
          .about
               header
                    img.grat-bg(src="http://r.ddmcdn.com/s_f/o_1/DSC/uploads/2015/05/where-are-they-now-new-bear-grylls.jpg")
                    img.profile-img(src="https://i.ytimg.com/vi/zxQU55pItxU/maxresdefault.jpg")
               .box
                    h1 Bear Grylls
                    h2 @grylls
          .you-can-like-it
               h1.more-space Trendy dla Ciebie
               ul
                    li
                         a(href="") #dom
                    li
                         a(href="") #piatek
                    li
                         a(href="") #weekend
                    li
                         a(href="") #wallstreet
                    li
                         a(href="") #uncleben
          
          .you-can-like-it
               h1 Popularne Osoby
               ul
                    li
                         a(href="")
                              img(src="")
                              .info
                                   h1 Piotr Wieszczak
                                   h2 @pwieszczak
                    li
                         a(href="")
                              img(src="")
                              .info
                                   h1 Piotr Wieszczak
                                   h2 @pwieszczak
                    li
                         a(href="")
                              img(src="")
                              .info
                                   h1 Piotr Wieszczak
                                   h2 @pwieszczak
                    li
                         a(href="")
                              img(src="")
                              .info
                                   h1 Piotr Wieszczak
                                   h2 @pwieszczak
                    li
                         a(href="")
                              img(src="")
                              .info
                                   h1 Piotr Wieszczak
                                   h2 @pwieszczak
                                        
     .post.column
     
     .other.column
     
