<!DOCTYPE html>
html(lang="pl")
head
     meta(charset="UTF-8")
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     title Primus Connection
     link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
     link(rel="stylesheet" href="css/styles.css")
body
     //- include jade/nav.jade
     include jade/nav-not.jade
     
     #main-container
          .container
               //- include jade/timeline.jade
               //- include jade/profile.jade
               //- include jade/search.jade
               
          
     
     script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")    
     script(src="js/functions.js")
