nav#sitenav
     background: #fff
     height: 50px
     z-index: 10000
     &.desktop.top
          border-bottom: 3px solid #ecebec

     #searchbox
          position: absolute
          top: 0
          left: 0
          width: 100%
          display: none
          background: rgba($color, 0.9)
          height: 50px
          z-index: 100
          #searchresults
               background: #fff
               border: 3px solid #ecebec
               max-height: 500px
               overflow: scroll
               display: none
               position: absolute
               top: 50px
               left: 50%
               transform: translateX(-50%)
               max-width: 650px
               width: 100%
               box-sizing: border-box
               padding: 10px 25px 25px 25px
               .grid
                    padding-top: 25px
                    display: grid
                    grid-template-rows: auto
                    grid-gap: 25px
                    .user
                         height: 80px
                         display: grid
                         grid-template-columns: 80px 1fr
                         grid-gap: 10px
                         img
                              height: 100%
                              border-radius: 50%
                         .about
                              max-width: 400px
                              display: flex
                              justify-content: center
                              flex-direction: column
                              h2.name
                                   margin: 0
                                   font-size: 24px
                                   font-weight: 300
                              .info
                                   // background: pink
                                   display: grid
                                   grid-template-columns: repeat(2, 1fr)
                                   grid-gap: 15px
                                   .btn
                                        font-size: 15px
                                        display: flex
                                        justify-content: center
                                        i
                                             margin-right: 5px

          .container
               display: flex
               justify-content: space-between
               align-items: center
               height: 50px
               .form
                    display: flex
                    position: absolute
                    top: 10px
                    left: 50%
                    max-width: 650px
                    width: 100%
                    transform: translateX(-50%)
                    justify-content: center
                    input
                         height: 32px
                         margin: 0
                         background: #ecebec
                         border: none
                         box-sizing: border-box
                         padding: 0 5px
                         width: 100%
                         outline: none
                         font-size: 17px
                         +tran
                         &::placeholder
                              color: #cdc9cd
                              font-size: 15px
                    button
                         outline: none
                         height: 32px
                         margin: 0
                         background: #ecebec
                         border: none
                         box-sizing: border-box
                         padding: 0 5px
                         width: 50px
                         outline: none
                         font-size: 17px
                         +tran
                         &:hover
                              cursor: pointer
               #searchboxclose
                    outline: none
                    height: 32px
                    margin: 0
                    background: none
                    border: none
                    box-sizing: border-box
                    padding: 0
                    outline: none
                    font-size: 21px
                    position: relative
                    left: calc(100% - 15px)
                    color: #fff
                    &:hover
                         cursor: pointer

     #undersearchbox
          display: flex
          justify-content: space-between
          align-items: center
          height: 50px
          ul.links
               display: flex
               padding: 0
               margin: 0
               list-style-type: none
               li
                    padding: 0 10px
                    font-size: 16px
                    &.first
                         padding: 0 10px 0 0
                    &.last
                         padding: 0 0 0 10px

          a.logo
               position: absolute
               top: 5px
               left: 50%
               transform: translateX(-50%)
               z-index: 2
               &:hover
                    cursor: pointer
               img
                    height: 40px
