.grid#profile
     display: grid
     grid-template-columns: 280px 1fr 280px
     grid-gap: 20px
     @media screen and (max-width: 1206px)
          grid-template-columns: 280px 1fr 0px
     @media screen and (max-width: 870px)
          grid-template-columns: 1fr

     .post.column
          @media screen and (max-width: 870px)
               margin-top: -20px
     .about.column
          .stuff-mobile-modal
               position: absolute
               top: 0
               z-index: 10000
               left: 50%
               transform: translateX(-50%)
               background: #fff
               width: 100vw
               height: calc(100vh - 53px)
               display: none
               header
                    display: flex
                    justify-content: space-between
                    align-items: center
                    height: 70px
                    box-sizing: border-box
                    padding: 0 15px
                    h1
                         margin: 0
                         font-size: 23px
                    button
                         border: none
                         outline: none
                         background: none
                         padding: 0
                         margin: 0
                         font-size: 13px
                         i
                              margin-left: 5px
               ul.content
                    padding: 0 15px 30px 15px
                    margin: 0
                    list-style-type: none
                    box-sizing: border-box
                    li
                         padding: 4px 0
                         font-size: 17px
                         i
                              margin-right: 5px
                              width: 20px

               @media screen and (min-width: 870px)
                    display: none

          .info
               height: 160px
               @media screen and (max-width: 870px)
                    height: auto
               header
                    img.grat-bg
                         display: block
                         height: 105px
                         width: 100%
                         border-bottom: 2px solid $border
                         object-fit: cover
                         @media screen and (max-width: 870px)
                              height: 280px
                         @media screen and (max-width: 650px)
                              height: 230px
                         @media screen and (max-width: 405px)
                              height: 190px
                    img.profile-img
                         height: 80px
                         width: 80px
                         border-radius: 50%
                         display: block
                         margin: 0 auto
                         transform: translateY(-40px)
                         border: 2px solid $border
                         object-fit: cover
                         @media screen and (max-width: 870px)
                              height: 180px
                              width: 180px
                              transform: translateY(-100px)
                              border: 3px solid $border
                         @media screen and (max-width: 650px)
                              height: 120px
                              width: 120px
                              transform: translateY(-80px)
                         @media screen and (max-width: 405px)
                              height: 90px
                              width: 90px
                              transform: translateY(-50px)

               .box
                    margin-top: -35px
                    padding-bottom: 10px
                    border-bottom: 1px solid $border
                    @media screen and (max-width: 870px)
                         margin-top: -85px
                    @media screen and (max-width: 650px)
                         margin-top: -75px
                    @media screen and (max-width: 405px)
                         margin-top: -40px
                    h1
                         margin: 0
                         text-align: center
                         font-size: 24px
                         @media screen and (max-width: 870px)
                              font-size: 29px
                         @media screen and (max-width: 650px)
                              font-size: 26px
                    h2
                         margin: 0
                         font-size: 19px
                         font-weight: 300
                         text-align: center
                         @media screen and (max-width: 870px)
                              font-size: 23px
                         @media screen and (max-width: 650px)
                              font-size: 21px

                    button.btn
                         margin: 10px auto
                         background: none

                         @media screen and (min-width: 870px)
                              display: none



          .stuff
               margin-top: 75px
               @media screen and (max-width: 870px)
                    display: none

               h1
                    text-align: center
                    margin: 0
                    font-size: 22px
                    font-weight: 600
               ul
                    list-style-type: none
                    margin: 0
                    padding: 0
                    margin-top: 10px
                    li
                         padding: 5px 0
                         font-size: 17px
                         i
                              width: 26px
                              text-align: left
