.grid#timeline
     display: grid
     grid-template-columns: 280px 1fr 280px
     grid-gap: 20px
     @media screen and (max-width: 1206px)
          grid-template-columns: 280px 1fr 130px
     @media screen and (max-width: 1100px)
          grid-template-columns: 280px 1fr 50px
     @media screen and (max-width: 1000px)
          grid-template-columns: 280px 1fr
     @media screen and (max-width: 815px)
          grid-template-columns: 250px 1fr
          grid-gap: 10px
     @media screen and (max-width: 750px)
          grid-template-columns: 1fr
          grid-gap: 0px

     .column
          min-height: 50px
          background: #fff

     .post.column
          background: rgba(0, 0, 0, 0)

     .info.column
          position: fixed
          width: 280px
          top: 55px
          height: calc(100vh - 55px)
          overflow: scroll
          @media screen and (max-width: 815px)
               width: 250px
          @media screen and (max-width: 750px)
               display: none
          .about
               height: 160px
               header
                    img.grat-bg
                         display: block
                         height: 105px
                         width: 100%
                         border-bottom: 2px solid $border
                         object-fit: cover
                    img.profile-img
                         height: 80px
                         width: 80px
                         border-radius: 50%
                         display: block
                         margin: 0 auto
                         transform: translateY(-40px)
                         border: 2px solid $border2
                         object-fit: cover

               .box
                    margin-top: -35px
                    padding-bottom: 10px
                    border-bottom: 1px solid $border2
                    h1
                         margin: 0
                         text-align: center
                         font-size: 24px
                    h2
                         margin: 0
                         font-size: 19px
                         font-weight: 300
                         text-align: center

          .you-can-like-it
               > h1
                    margin: 0
                    text-align: center
                    font-weight: 500
                    font-size: 24px
                    &.more-space
                         margin-top: 75px
               ul
                    list-style-type: none
                    box-sizing: border-box
                    padding: 0
                    margin: 15px 0

                    li
                         padding: 0px 20px
                         margin: 4.5px 0
                         font-size: 17px
                         a
                              font-weight: 400
                              color: $color

                         .grid
                              display: grid
                              grid-template-columns: 50px 1fr
                              grid-gap: 10px
                              img
                                   width: 50px
                                   height: 50px
                                   object-fit: cover
                                   border-radius: 50%
                                   border: 2px solid $border2

                              .info
                                   h1
                                        margin: 0
                                        font-weight: 500
                                        font-size: 19px
                                        color: #000
                                   h2
                                        margin: 0
                                        font-size: 17px
                                        font-weight: 300
                                        color: #000


.post.column
     background: rgba(0, 0, 0, 0)
     grid-column: 2/3
     width: 100%
     @media screen and (max-width: 750px)
          grid-column: 1/2
     > header
          @media screen and (max-width: 735px)
               display: none
          button#newPostModalDesktop
               outline: none
               display: flex
               align-items: center
               justify-content: space-around
               border: none
               background: none
               height: 40px
               line-height: 40px
               font-size: 17px
               border-radius: 0px
               width: 100%
               border-bottom: 1px solid $border2
               background: #fff
          .modal.new-post
               display: none
               position: absolute
               top: 60px
               left: 50%
               transform: translateX(-50%)
               max-width: 600px
               width: 100%
               background: #fff
               padding: 0
               box-shadow: 0px 0px 30px #c9c8c8
               border: 3px solid $border
               border-radius: 3px
               header
                    display: flex
                    justify-content: space-between
                    align-items: center
                    height: 50px
                    border-bottom: 3px solid $border2
                    padding: 0 30px
                    h1
                         margin: 0
                         font-size: 20px
                         color: $color
                    button
                         outline: none
                         border: none
                         border-radius: 0px
                         background: none
                         font-size: 13px
                         cursor: pointer
                         +tran
                         &:hover
                              color: #555555
                         i
                              margin-left: 5px

               .form
                    padding: 25px 30px
                    display: flex
                    flex-direction: column
                    align-items: flex-end
                    textarea, input
                         width: 100%
                    textarea, input, button
                         margin: 5px 0
                         outline: none
                         border: 2px solid $border2
                         background: #fff
                         padding: 5px
                         box-sizing: border-box
                         border-radius: 0px
                         +tran
                         &:focus
                              border-color: $border

                    img
                         width: 200px
                         border-radius: 4px
                         height: 200px
                         object-fit: cover
                         display: block
                         margin: 0 auto
                         transition: 300ms all ease-in-out
                    img[src=""]
                         height: 0px
                         width: 0px
                    button
                         height: 34px
                         padding: 0 15px
                         font-size: 13.5px
                         cursor: pointer
                         +tran
                         &:hover
                              border-color: $color
                         i
                              margin-right: 5px

                    textarea
                         resize: vertical
                         min-height: 100px
                         font-size: 19px
                         font-weight: 300
                         max-height: 300px
                         +tran
                         &:focus
                              border-color: $color

     .posts
          box-sizing: border-box
          background: rgba(0, 0, 0, 0)
          @media screen and (max-width: 750px)
               max-width: 630px
               margin: 0 auto
          .post
               margin-bottom: 10px
               padding-bottom: 10px
               background: #fff
               header.post__header
                    display: flex
                    box-sizing: border-box
                    padding: 10px 15px
                    img
                         height: 55px
                         width: 55px
                         object-fit: cover
                         border: 1px solid #f3f3f3
                         border-radius: 50%
                         margin-right: 12px

                    .post_header__user_info
                         display: flex
                         flex-direction: column
                         .post_header__name
                              margin: 0
                              font-size: 20px
                              font-weight: 600
                              span.username
                                   font-weight: 300
                                   margin-left: 10px
                                   font-size: 17px
                         .post_header_date
                              margin: 0
                              margin-top: 2px
                              i
                                   margin-right: 5px

               .post__content
                    padding: 0px 15px 10px 15px
                    box-sizing: border-box
                    p
                         margin: 0
                         line-height: 1.3em
                         font-size: 17px
                    img
                         width: 100%
                         border-radius: 4px

               .post__integration
                    padding: 10px 15px
                    border-top: 1px solid $border2
                    border-bottom: 1px solid $border2
                    display: flex
                    .post_btn
                         font-size: 16px
                         outline: none
                         border: 0px
                         background: #fff
                         padding: 0
                         +tran
                         &:hover
                              color: darken($color, 10%)
                              cursor: pointer
                         i
                              margin-right: 4px
                         span
                              span
                                   margin-left: 4px
                                   color: #000

                         &.active
                              color: $color


               .post__comments
                    box-sizing: border-box
                    padding: 12px 15px
                    .comments
                         max-height: 250px
                         overflow-y: scroll
                         .comment
                              display: flex
                              padding-bottom: 10px
                              img
                                   height: 45px
                                   border-radius: 50%
                                   border: 1px solid $border2
                                   margin-right: 10px
                              .content
                                   width: 100%
                                   display: flex
                                   flex-direction: column
                                   .body
                                        box-sizing: border-box
                                        padding: 8px 10px
                                        border-radius: 12px
                                        background: #eff1f3
                                        p
                                             line-height: 1.3em
                                             margin: 0 auto
                                   .info
                                        box-sizing: border-box
                                        padding-left: 15px
                                        .comment_btn
                                             outline: none
                                             border: none
                                             padding: 0
                                             margin: 0
                                             font-size: 13px
                                             +tran
                                             &:hover
                                                  color: darken($color, 10%)
                                                  cursor: pointer
                                             i
                                                  margin-right: 4px
                                             span
                                                  span
                                                       margin-left: 4px
                                                       color: #000

                    form.post_comments__form
                         padding-top: 12px
                         display: flex
                         align-items: center
                         height: 35px
                         width: calc(100% - 15px)
                         img
                              height: 38px
                              border-radius: 50%
                              border: 1px solid $border2
                              margin-right: 10px

                         input
                              outline: none
                              border-radius: 14.5px
                              width: calc(100% - 25px)
                              height: 29px
                              padding: 0 10px
                              border: 1.2px solid #000
                              font-size: 14px
                              +tran
                              &:focus
                                   border-color: $color

                         button
                              width: 0px
                              position: relative
                              margin-left: -30px
                              outline: none
                              background: none
                              border: 0px
                              font-size: 18px
