:root {
     --bordercolor: #ecebec;
     --color: #00B519;
     --color-dark: #0b991e;
     --color-rgba-09: rgba(#00B519, 0.9);

     --scolor: #619cff;
     --scolor-dark: #4181ec;
     --tcolor: #ee4848;
     --tcolor-dark: #eb3030;
}
