:root {
     --bordercolor: #ecebec;
     --color: #00bf8f;
     --color-dark: #0b9170;
     --color-rgba-09: rgba(#00bf8f, 0.9);

     --scolor: #619cff;
     --scolor-dark: #4181ec;
     --tcolor: #ee4848;
     --tcolor-dark: #eb3030;
}
